.product_item {
    display: flex;
    margin-top: 50px;
    height: 200px;
    width: 950px;

}



.cart {
    display: flex;
    margin-top: 50px;
    height: 200px;
    width: 950px;
}

.product_item_group {
    margin-bottom: 38px;
    &:not(:last-child) {
        margin-right: 15px;
    }
    .product_item_img {
        & img {
            width: 100%;
        }
    }
    .product_name {
        margin: 19px 15px 0 15px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
    }
    .product_cost {
        margin: 17px 15px 21px 15px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #f16d7f;
    }
    button {
        width: 100px;
        height: 30px;
        background-color: orange;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}